<!-- prettier-ignore -->
{% extends "base.html" %}

{% block title %}Hello!{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold underline">Home</h1>

<div class="space-y-4">
	<div>
		<a href="/help" class="text-blue-500 underline hover:text-blue-700">Help</a>
	</div>

	<div>
		<button type="button" hx-get="/api/v1/hello" hx-swap="innerHtml" class="bg-blue-500 text-white rounded-md hove:bg-blue-700 px-4 py-1.5">Say hello</button>
	</div>

	{% include "todo-form.html" %}
</div>
{% endblock %}
