name: "Cargo Build"

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
    test:
        name: Test
        runs-on: ubuntu-latest

        services:
          mysql:
            image: mysql
            env:
              MYSQL_ALLOW_EMPTY_PASSWORD: false
              MYSQL_ROOT_PASSWORD: password
              MYSQL_DATABASE: _openai_chat_testing
            ports:
              - 3306:3306
            options: >-
              --health-cmd mysqladmin ping
              --health-interval 10s
              --health-timeout 5s
              --health-retries 5

        steps:
          - name: Checkout code
            uses: actions/checkout@v3

          - name: Test MySQL connection
            run: mysql mysql://root:password@127.0.0.1:3306/_openai_chat_testing -c 'SELECT 1;'

          - name: Cargo build
            run: cargo build --verbose
            env:
              DATABASE_URL: mysql mysql://root:password@127.0.0.1:3306/_openai_chat_testing
